Alternative N_S generation: the DTLS profile also admits TLS, per RFC 9430

In  Section 4.1.1.2:

* Add the following new paragraph at the end of the second bullet point:

  > The same as above holds if TLS 1.2 [RFC5246] was used instead of DTLS 1.2, as per [RFC9430].

* Add the following new paragraph at the end of the third bullet point:

  > The same as above holds if TLS 1.3 [RFC8446] was used instead of DTLS 1.3, as per [RFC9430].